@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id='ex1' class="search">
    <h3 class="search_header">Search Options: </h3>
    <table>
        <tr>
            <td><span>By date: </span></td>
            <td><span>From: </span><input type="date"></td>
            <td><span> To: </span><input type="date"></td>
        </tr>
        <tr>
            <td><span>By author: </span></td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><span>By email: </span></td>
            <td><input type="email"></td>
        </tr>
        <tr>
            <td><span>By words in comments: </span></td>
            <td><input type="text"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td><span>Min number of comments: </span></td>
            <td><input type="range" min="1" max="10">
            <td />
        </tr>
    </table>

</div>
<div id="content">
    <div id="mainContent">
    </div>
</div>